

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__popper {
  z-index: 50 !important;
}

.react-datepicker {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Quicksand', sans-serif;
}